/*Conlon Novak*/
/*conlonn*/
/*Website Development Project*/
/*style.css*/

@import url('https://fonts.googleapis.com/css?family=Merriweather');
/*Designated green color #00a665 */
#searchfield {
	   /* width: 80%;
	    margin: 0 auto;
	    display: block;*/
	}
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/concert.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}