/*Conlon Novak*/
/*conlonn*/
/*Website Development Project*/
/*style.css*/

@import url('https://fonts.googleapis.com/css?family=Merriweather');
/*Designated green color #00a665 */
#searchfield {
	   /* width: 80%;
	    margin: 0 auto;
	    display: block;*/
	}
}

h1 { 
    display: block;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(/img/concert.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}