<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-deep_purple.min.css">
	<link rel="stylesheet" media="all" type="text/css" href="css/styles.css">
	<script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<meta charset = "utf-8"/>
	<meta name="author" content="Aneek Mukherjee, Conlon Novak, Eugene Luo, Emmanuel Eppinger">
	<meta name="description" content="Concert Finder">
	<title>CONCERT PLANNER</title>
</head>

<body>
	<!-- Simple Textfield -->
	<div class="mdl-grid"  style="justify-content: center">
    	<div class="mdl-cell--middle">
    		<h1><b>WANDERLIST</b>EN</h1>
			<form onsubmit="return searchArtist()" action="/api/search_by_artist/Kendrick">
		  		<div class="mdl-textfield mdl-js-textfield">
		    		<input class="mdl-textfield__input" type="text" id="searchfield" autocomplete="on" onkeyup="if (event.keyCode == 13) { this.form.submit(); return false; }">
		    	<label class="mdl-textfield__label" for="searchfield">Search for an Artist or Group</label>
		  		</div>
			</form>
		</div>
	</div>
</body>

</html>