<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!--JQuery-->
	<script type="text/javascript" src="{{ url_for('static',filename='scripts/jquery-3.2.0.min.js') }}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--Our stylesheet-->
	<link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
<!--Our scripts-->
	<script type="text/javascript" src="{{ url_for('static',filename='scripts/scripts.js') }}"></script>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<meta charset = "utf-8"/>
	<meta name="author" content="Aneek Mukherjee, Conlon Novak,  Emmanuel Eppinger, Eugene Luo">
	<meta name="description" content="Concert Finder">
	<title>CONCERT PLANNER</title>
</head>
<body id="landing_page">

<header>
	<div class="topnav" id="myTopnav">
		  <a href="#home" class="active">Home</a>
		  <a href="#news">News</a>
		  <a href="#contact">Contact</a>
		  <a href="#about">About</a>
		  <a href="javascript:void(0);" class="icon" onclick="crunchNav()">&#9776;</a>
	</div>
</header>
	<div class="jumbotron jumbotron-fluid" id="home">
  		<div class="container">
  			<div id="panel">
    		<h1 class="text-center">WANDER<b id="green">LISTEN</b></h1>
    		<form action="{{ url_for('search') }}" method="post">
    			<div class="form-group">
   					<input name = "artist" type="text" class="form-control" id="searchfield" placeholder="Search for artist or group...">
   					<!--<label>Search by Artist</label>
  					<input type="radio" name="artist" class="form-control">
  					<label>Search by Location</label>
  					<input type="radio" name="location" class="form-control">-->
  				</div>
    		</form>
    		</div>
		</div>
	</div>
		
</body>

</html>


